.wrapper {
   margin: 0 auto;
   width: 1000px;
   padding-top: 10px;
}

/* .row {
    clear: both;
    width: 1000px;
} */

/* .col-md-6 {
    float: left;
    padding: 5px;
    width: 310px;
}	 */

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 14px;
}

label.error {
    color: #d2322d;
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 11px;
    font-size: 0.84615rem;
    width: 100%;
}

.form-control {
    border: 1px solid #CCCCCC;
    padding: 5px;
    width: 300px;
    background-color: #FFFFFF;
}

.form-group.has-error .form-control {
    border-color: #d2322d;
}

.color-danger {
    color: red;
}

.btn-primary {
    padding: 5px;
    width: 100px;
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
}
